@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;   
}

body {
    background-color: #494D64;
    color: #F5BDE6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width: 100%;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "pic time time"
        "pic time time"
        "list list list";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 1rem;
    height: 400px;
    width: 800px;
    padding: 1.5rem;
    background-color: #1E1E2E;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

img {
    grid-area: pic;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.introduction {
    grid-area: time;
    margin: auto;
    text-align: center;
}

#time-amount {
    display: flex;
    gap: 1rem;
}

.months {
    grid-area: list;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
}

li {
    text-decoration: none;
    color: #F5BDE6;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.25s cubic-bezier(0.47, 0, 0.745, 0.715); 
}

a {
    text-decoration: none;
    color: #F5BDE6;
    cursor: pointer;
    text-shadow: 0px 0px 5px rgba(245, 224, 220, 0.6);
}

li:hover {
    transform: scale(1.25);
}
